.decoration-name {
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  color: var(--color-primary);
  //   background-color: blue;
  position: relative;
  left: -28px;

  &--small {
    font-size: 1.125rem;
  }

  &__item {
    font-size: 1.5rem;
  }

  &--works {
    left: 8px;
  }

  &--website {
    left: 0;
  }

 &--work-c{
  left: -90px;
 }

 &--work-easybank{
  left: 40px;
 }

 &--work-fylo{
  left: -50px;
 }

 &--work-huddle{
  left: 0;
 }

 &--work-insure{
  left: -20px;
 }

 &--work-loopstudios{
  left: -50px;
 }

 &--work-skilled{
  left: -10px;
 }

 &--work-bright{
  left: 45px;
 }

 &--work-typemaster{
  left: -45px;
 }

 &--work-creatives{
  left: 40px;
 }

 &--design{
  left: -15px;
 }
}

.decoration-symbols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 27px;
  gap: 0.5rem;

  &__image {
    background-image: url(../assets/images/phone/ipad-movil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &__circles {
    grid-column: 1/3;
  }
}
