/* ESTILOS DEL MAIN */

.main {
  margin-bottom: 1.875rem;

  &--about {
    position: relative;
    top: -36px;
  }

  &--works {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 27px;
  }
}
